.main_text p:nth-child(1) {
    font-size: 2.5rem;
}

.main_text p {
    font-size: 1.2rem;
}

.main_text p:nth-child(1) {
    margin-bottom: 6px;
}

.main_text p:nth-child(1) {
    margin-top: 1.5%;
    font-size: 2.5rem;
}

.main_text p:nth-child(3) {
    margin: 2.5% 0;
}


.main_img{
    display: flex;
}

.main_img p{
    margin-right: 2%;
}

.main_img p a{
    display: block;
}

.main_img p a img{
    display: inline-block;
    width: 100%;
}

.main_img p{
    position: relative;
}

.main_img p a:last-child{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    display: none;
}

.main_img p:hover a{
    display: flex;
}

.main_img p a:last-child span:first-child{
    color: #fff;
    padding-bottom: 10px;
}

.main_img p a:last-child span:last-child{
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 1px;
}


main{
    position: relative;
}

.left_icon{
    position: absolute;
    top:35%;
    right: 0;
    width: 5%;
    margin-right: 1%;
}

.left_icon a img{
    width: 100%;
}





@media (max-width:1596px){
    .main_text p:nth-child(1) {
        padding: 1% 0 0.2%;
    }
}

@media (max-width:1321px){
    .main_text p:nth-child(3) {
        margin: 4% 0 5%;
    }
    .left_icon{
        top: 40%;
    }
}

@media (max-width:1216px){
    .left_icon {
        width: 5%;
    }
    .main_text p:nth-child(3) {
        margin: 4% 0 3%;
    }
}

@media (max-width:1099px){
    .main_text p:nth-child(3) {
        margin: 5% 0px 3%;
    }
}


@media (max-width:905px){
    .main_img p:nth-child(4){
        display: none;
    }
}

@media (max-width:825px){
    .main_text{
        padding: 0 0 2%;
    }
}


@media (max-width:742px){
    .main_img p:nth-child(5){
        display: none;
    }

    .left_icon {
        width: 6%;
        margin-right: 0;
    }
}


@media (max-width:705px){
    .left_icon {
        width: 9%;
    }
    .main_img p:nth-child(6){
        display: none;
    }
    .left_icon {
        top: 38%;
    }
}

@media (max-width:690px){
    .main_text p{
        font-size: 1rem;
    }
}

@media (max-width:663px){
    .left_icon {
        top: 40%;
    }
}

@media (max-width:584px){
    .left_icon {
        top: 41%;
    }
}

@media (max-width:584px){
    .main_img p:nth-child(3){
        display: none;
    }
    .main_text p{
        padding: 2% 0;
    }
    .main_text p:nth-child(3) {
        margin: 2% 0px 5%;
    }
    .left_icon {
        top: 44%;
    }
    .left_icon {
        width: 11%;
    }
}

@media (max-width:448px){
    .left_icon {
        width: 13%;
    }
}

@media (max-width:381px){
    .left_icon {
        width: 13%;
    }

    .main_text p:nth-child(1) {
        margin-top: 5%;
        font-size: 2rem;
    }

    .main_text p:nth-child(3) {
        margin: 5% 0px 7%;
    }

    .main_img p:nth-child(2){
        display: none;
    }

    .left_icon {
        width: 17%;
    }

    .main_img p{
        width: 90%;
    }
}